#search{
display: flexbox;
flex-wrap: wrap;
width: 70%;
margin-left: 5px;
}
.btn-primary{
    display: flexbox;
    margin-top: 10px;
    margin-left: 5px;
    width: 70%;
}
.inline{
    display: inline-block;
width: 19%;
}
.gray{
    margin-top: 5px;
    margin-left: 5px;
    background-color: lightgray;
}
